body {
    margin: 0;
    font-family: 'Heebo', sans-serif;
    padding-top: 80px;
}

.container {
    max-width: 1440px;
    margin: auto;
    height: 100%;
    padding: 0 16px;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;    
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {    
    display: inline-block;
    font-size: 27px;
}

header .logo .blue-dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    background-color: #3e50e5;
}

header nav {    
    display: inline-block;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #3e3e3e;
    font-size: 15px;
    letter-spacing: 0.37px;
    margin-right: 24px;
    text-decoration: none;
}

header nav ul li:last-of-type a {
    margin-right: 0;
}
 /* hero section styling */

section.hero {
    position: relative;
}

.hero-content {
    position: absolute;    
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

section.hero img {
    width: 100%;
    height: auto;
}

.hero-content .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.hero-content h1 {
    max-width: 495px;
    color: #fff;
    font-size: 50px;
    letter-spacing: 1.25px;
    line-height: 56px;
    margin-bottom: 16px;
    margin-top: 0;
    font-weight: normal;
}

.hero-content p {
    max-width: 495px;
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 21px;
}

.hero-content button {
   height: 50px;
   width: 220px;
   border-radius: 92px;
   background-color: #3e50e5;
   color: #fff;
   font-size: 16px;
   max-width: 100%;
   border: none;
   font-weight: 700;
   letter-spacing: 0.4px;
   line-height: 24px;
   text-align: center;
   text-transform: uppercase;
}

/* best seller styles */

section.best-seller {
    padding-top: 80x;
}

section.best-seller h2 {
    text-align: center;
    font-size: 34px;
    letter-spacing: 0.85px;
    line-height: 42px;
    font-weight: normal;
    margin: 0 0 14px 0;
}

section.best-seller hr {
    border: none;
    border-top: 5px solid #67f110;
    width: 66px;
}

/* best seller slider */

section.best-seller .product-slider {
    margin-top: 76px;
}

section.best-seller .container {
    display: flex;
    justify-content: space-around;
    padding: 0 8px;
}

section.best-seller .product-slider .product {
    border-radius: 8px;
    border: 1px solid #DDD;
    width: 33%;
    text-align: center;
    margin: 0 16px;
    padding: 40px;
}

section.best-seller .product-slider .product .product-info {
    margin-top: 50px;
}

.product-picture img {
    width: 300px;
    padding: 10px;
    height: 400px;
    object-fit: contain;
}